{% extends 'layout.html' %}
{% block title %}
Welcome - Home
{% endblock %}
{% block content %}
<div class="page-centralize">
    <div class="v-margin">
        <p class="title centralize">Hey, there. Welcome!</p>
    </div>
    <hr>
    <div class="centralize">
        <a href="{{ url_for('list_details') }}" class="button is-link is-large button-link">List All Details</a>
        <a href="{{ url_for('add_detail') }}" class="button is-link is-large button-link">Add New Detail</a>
    </div>
</div>
{% endblock %}
